---
layout: menu-page
title: Formation & Experience
permalink: curriculum:output_ext
certifications:
    - cert_2021_04:
        institution-photo: assets/img/icon/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        course-name: ASP.NET Core parte 1 - um e-Commerce com MVC e EF Core  (ASP.NET Core part 1 - An eCommerce with MVC and EF Core)
        course-url: https://cursos.alura.com.br/course/webapp-com-aspnet-core-2
        issuance-month: Apr 
        issuance-year: 2021
        issuance-expiration: 
        credential-code: eb62ba73-6be3-45f5-b032-7c372e017b3a
        certificate: ./assets/pdf/Certificates/Alura/dev_aspDotNetPt1.pdf
    - cert_2018_12:
        institution-photo: assets/img/icon/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        course-name: C# parte 1 - primeiros passos (C# part 1 - first steps)
        course-url: https://cursos.alura.com.br/course/csharp-parte-1-primeiros-passos
        issuance-month: Dez
        issuance-year: 2018
        issuance-expiration: 
        credential-code: 4f61507d-491a-46b7-916b-07d39fbb51e1
        certificate: ./assets/pdf/Certificates/Alura/dev_cSharp1.pdf
    - cert_2020_01:
        institution-photo: assets/img/icon/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        course-name: Eficácia parte 1 - hábitos para sua proatividade (Effectiveness part 1 - habits for your proactivity)
        course-url: https://cursos.alura.com.br/course/habitos-eficazes
        issuance-month: Jan
        issuance-year: 2020
        issuance-expiration: 
        credential-code: ad67a786-d877-4f69-a16a-8a2d85c24db1
        certificate: ./assets/pdf/Certificates/Alura/ges_habitos.pdf	
    - cert_2020_03:
        institution-photo: assets/img/icon/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        issuance-expiration: 
        course-name: Eficácia parte 2 - hábitos para sua proatividade (Effectiveness part 2 - habits for your proactivity)
        course-url: https://cursos.alura.com.br/course/habitos-eficazes-2
        issuance-month: Mar
        issuance-year: 2020
        credential-code: ca9aba23-0cc0-4b2b-9383-7c17814746f3
        certificate: ./assets/pdf/Certificates/Alura/ges_habitos-pt2.pdf	
    - cert_2021_06:
        institution-photo: assets/img/icon/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        issuance-expiration: 
        course-name: Feedback - a arte de orientar e ser orientado com sentido (Feedback - the art of guiding and being guided with meaning)
        course-url: https://cursos.alura.com.br/course/feedback
        issuance-month: Jun
        issuance-year: 2021
        credential-code:  d013c5de-1a99-4c09-a9ef-856522e89ae3
        certificate: ./assets/pdf/Certificates/Alura/ges_feedback.pdf		
    - cert_2021_06:
        institution-photo: assets/img/icon/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        issuance-expiration: 
        course-name: Hábitos - da produtividade às metas pessoais (Habits - from productivity to personal goals)
        course-url: https://cursos.alura.com.br/course/habitos
        issuance-month: Jun
        issuance-year: 2021
        credential-code: 0884f7a8-dc05-442a-b2ef-a97bf98827e3
        certificate: 	./assets/pdf/Certificates/Alura/ges_habitos-pt3.pdf			
    - cert_2022_04:
        institution-photo: assets/img/icon/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        issuance-expiration: 
        course-name: Kanban parte 1 - fundamentos essenciais (Kanban part 1 - essential fundamentals)
        course-url: https://cursos.alura.com.br/course/kanban-primeiros-passos
        issuance-month: Apr
        issuance-year: 2022
        credential-code: 
        certificate: ./assets/pdf/Certificates/Alura/ges_kanban.pdf			
    - cert_2021_12:
        institution-photo: assets/img/icon/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        issuance-expiration: 
        course-name: Oratória parte 1 - compartilhe ideias e histórias (Public Speaking part 1 - share ideas and stories)
        course-url: https://cursos.alura.com.br/course/oratoria-compartilhe-ideias
        issuance-month: Dez
        issuance-year: 2021
        credential-code: fa5670da-8f10-4e3d-8d2a-79dfcb1d918f
        certificate: ./assets/pdf/Certificates/Alura/ges_oratoria.pdf	
    - cert_2021_10:
        institution-photo: assets/img/icon/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        issuance-expiration: 
        course-name: OWASP Top 10 - de Injections a Broken Access Control (OWASP Top 10 - From Injections to Broken Access Control)
        course-url: https://cursos.alura.com.br/course/owasp10-a5-broken-access-control
        issuance-month: Oct
        issuance-year: 2021
        credential-code: 109efc05-5b01-4a81-9837-1b68e603a431
        certificate: 	./assets/pdf/Certificates/Alura/dev_owasp01.pdf		
    - cert_2021_10:
        institution-photo: assets/img/icon/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        issuance-expiration: 
        course-name: OWASP Top 10 - Security misconfiguration, logging e monitoramento (OWASP Top 10 - Security misconfiguration, logging and monitoring)
        course-url: https://cursos.alura.com.br/course/owasp-top10-security-misconfiguration-logging
        issuance-month: Oct
        issuance-year: 2021
        credential-code: 2fdfe2eb-b0f4-4ffc-8a0b-0b3c267fdd3d
        certificate: 	./assets/pdf/Certificates/Alura/dev_owasp02.pdf			 		
    - cert_2021_12:
        institution-photo: assets/img/icon/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        issuance-expiration: 
        course-name: OWASP - padrão de verificação de segurança de aplicações (OWASP - Application Security Scanning Standard)
        course-url: https://cursos.alura.com.br/course/owasp-application-security-verification-standard
        issuance-month: Dez
        issuance-year: 2021
        credential-code: 
        certificate: ./assets/pdf/Certificates/Alura/dev_owasp03.pdf				
    - cert_2022_03:
        institution-photo: assets/img/icon/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        issuance-expiration: 
        course-name: OWASP - padrão de verificação de segurança de aplicações V5 a V8 (OWASP - Application Security Verification Standard V5 to V8)
        course-url: https://cursos.alura.com.br/course/owasp-security-verification-standard-v5-a-v8
        issuance-month: Mar
        issuance-year: 2022
        credential-code: eb62ba73-6be3-45f5-b032-7c372e017b3a
        certificate: ./assets/pdf/Certificates/Alura/dev_owasp04.pdf			
    - cert_2022_03:
        institution-photo: assets/img/icon/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        issuance-expiration: 
        course-name: OWASP - padrão de verificação de segurança de aplicações V9 a V14 (OWASP - Application Security Verification Standard V9 to V14)
        course-url: https://cursos.alura.com.br/course/owasp-application-security-verification-standard-v9-a-v14
        issuance-month: Mar
        issuance-year: 2022
        credential-code: 7a3641ad-5251-419f-b9bd-1e89c117ffa3
        certificate: ./assets/pdf/Certificates/Alura/dev_owasp05.pdf		
    - cert_2022_04:
        institution-photo: assets/img/icon/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        issuance-expiration: 
        course-name: Redes Neurais - Deep Learning com PyTorch (Neural Networks - Deep Learning with PyTorch)
        course-url: https://cursos.alura.com.br/course/pln-deep-learning
        issuance-month: Apr
        issuance-year: 2022
        credential-code: 51234a58-05f1-474b-b7c8-57fd221b07ce
        certificate: ./assets/pdf/Certificates/Alura/dev_pytorch01.pdf			
    - cert_2022_06:
        institution-photo: assets/img/icon/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        issuance-expiration: 
        course-name: Treinando uma Rede Neural - Deep Learning com PyTorch (Training a Neural Network - Deep Learning with PyTorch)
        course-url: https://cursos.alura.com.br/course/treinando-rede-neural-pytorch
        issuance-month: Jun
        issuance-year: 2022
        credential-code: d7aa0025-c9d7-4e0f-8976-927224034a3c
        certificate: ./assets/pdf/Certificates/Alura/dev_pytorch02.pdf		
    - cert_2022_07:
        institution-photo: assets/img/icon/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        issuance-expiration: 
        course-name: Redes Neurais Convolucionais - Deep Learning com PyTorch (Convolutional Neural Networks - Deep Learning with PyTorch)
        course-url: https://cursos.alura.com.br/course/cnn-redes-neurais-convolucionais-deep-learning-pytorch
        issuance-month: Jul
        issuance-year: 2022
        credential-code: 583a2dbb-955f-4086-98f3-20f4b8806b39
        certificate: ./assets/pdf/Certificates/Alura/dev_pytorch03.pdf		
    - cert_2022_07:
        institution-photo: assets/img/icon/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        issuance-expiration: 
        course-name: Redes Neurais Recorrentes - Deep Learning com Pytorch (Recurrent Neural Networks - Deep Learning with Pytorch)
        course-url: https://cursos.alura.com.br/course/rnn-redes-neurais-recorrentes-deep-learning-pytorch 
        issuance-month: Jul
        issuance-year: 2022
        credential-code: 62f61c0c-b0b5-476f-99c4-5f2d331be682
        certificate: ./assets/pdf/Certificates/Alura/dev_pytorch04.pdf				
    - cert_2022_02:
        institution-photo: assets/img/icon/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        issuance-expiration: 
        course-name: Scrum - agilidade em seu projeto (Scrum - agility in your project)
        course-url: https://cursos.alura.com.br/course/agile-scrum
        issuance-month: Fev
        issuance-year: 2022
        credential-code: 381362c3-20a7-43e3-8871-d5843cfd04ed
        certificate: ./assets/pdf/Certificates/Alura/ges_scrum.pdf
    - cert_2021_05:
        institution-photo: assets/img/icon/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        issuance-expiration: 
        course-name: SOLID com C# - princípios da programação orientada a objetos (SOLID with C# - Principles of Object-Oriented Programming)
        course-url: https://cursos.alura.com.br/course/solid-csharp-principios-orientacao-a-objetos
        issuance-month: Mai
        issuance-year: 2021
        credential-code: d313c535-d124-402b-bb07-8fa87a69dba6
        certificate: ./assets/pdf/Certificates/Alura/dev_solid.pdf		              
    - cert_2015_07:
        institution-photo: assets/img/icon/cert/edx.jfif
        institution-name: EdX
        institution-url: https://www.edx.org
        course-name: Introduction to Cloud Computing
        course-url: https://www.edx.org
        issuance-month: Jul
        issuance-year: 2015
        issuance-expiration: 
        credential-code: https://verify.edx.org/cert/d92984df51e74c519e544385cc8f4ee6
        certificate: https://s3.amazonaws.com/verify.edx.org/downloads/a0b0c2ed71004e3184b8ac849b624927/Certificate.pdf 
    - cert_2018_12:
        institution-photo: assets/img/icon/cert/edx.jfif
        institution-name: EdX
        institution-url: https://www.edx.org
        course-name: Introduction to ReactJS
        course-url: https://learning.edx.org/course/course-v1:Microsoft+DEV281x+3T2018/home
        issuance-month: Dez
        issuance-year: 2018
        issuance-expiration: 
        credential-code: 
        certificate: 	
    - cert_2015_10:
        institution-photo: assets/img/icon/cert/edx.jfif
        institution-name: EdX
        institution-url: https://www.edx.org
        course-name: English Grammar & Style
        course-url: https://learning.edx.org/course/course-v1:UQx+Write101x+2T2015/home
        issuance-month: Oct
        issuance-year: 2015
        issuance-expiration: 
        credential-code: https://verify.edx.org/cert/d6950e60c4304635a4f51398413ca231
        certificate: https://s3.amazonaws.com/verify.edx.org/downloads/760dcbb386fd40288ae666c671c80989/Certificate.pdf	
    - cert_2015_07:
        institution-photo: assets/img/icon/cert/edx.jfif
        institution-name: EdX
        institution-url: https://www.edx.org
        course-name: Programming with Java - Part 1 Starting to Program in Java
        course-url: https://www.edx.org
        issuance-month: Jul
        issuance-year: 2015
        issuance-expiration: 
        credential-code: https://verify.edx.org/cert/76cb8eb81cc94f5f981d3ba515bcee39
        certificate: https://s3.amazonaws.com/verify.edx.org/downloads/a1a9e298935442acad99f854b0630b29/Certificate.pdf
    - cert_2016_02:
        institution-photo: assets/img/icon/cert/coursera.jfif
        institution-name: Coursera
        institution-url: https://www.coursera.org
        course-name: Machine Learning
        course-url: https://www.coursera.org/learn/machine-learning/home/welcome
        issuance-month: Fev
        issuance-year: 2016
        issuance-expiration: 
        credential-code: 
        certificate: 	
    - cert_2016_07:
        institution-photo: assets/img/icon/cert/fun.jfif
        institution-name: FUN
        institution-url: https://www.fun-mooc.fr/en/
        course-name: Internet Measurements - a Hands-on Introduction
        course-url: https://www.my-mooc.com/pt/mooc/internet-measurements-a-hands-on-introduction/
        issuance-month: Jul
        issuance-year: 2016
        issuance-expiration: 
        credential-code: 9a5910a63e9dd505f0c3fba3ab96506a
        certificate: ./assets/pdf/Certificates/FUN/InternetMeasurements.pdf	
    - cert_2022_03:
        institution-photo: assets/img/icon/cert/udemy.jfif
        institution-name: Udemy
        institution-url: https://www.udemy.com
        course-name: Modern C++ Concurrency in Depth ( C++17/20)
        course-url: https://www.udemy.com/course/modern-cpp-concurrency-in-depth/
        issuance-month: Mar
        issuance-year: 2022
        issuance-expiration: 
        credential-code: UC-eb0282cc-d9c4-4755-b4a4-8d0c5bcd1c88
        certificate:  ./assets/pdf/Certificates/Udemy/ModernCppConcurrencyInDepth.pdf
    - cert_2022_06:
        institution-photo: assets/img/icon/cert/udemy.jfif
        institution-name: Udemy
        institution-url: https://www.udemy.com
        course-name: Criando sites estáticos com Jekyll
        course-url: https://www.udemy.com/share/102md63@Uknu-XqGouAmzqGkUwxe6erZV6ES1h3lSrPP5Y-HBcKaNuS97GtJLYRXlgFxbeFa/
        issuance-month: Jun
        issuance-year: 2022
        issuance-expiration: 
        credential-code: 
        certificate: 
    - cert_2020_09:
        institution-photo: ./assets/img/icon/cert/udemy.jfif
        institution-name: Udemy
        institution-url: https://www.udemy.com
        course-name: Modern C++ Memory Management - Learn to write good code fast
        course-url: https://www.udemy.com/course/modern-cpp-memory-management-learn-to-write-good-code-fast/
        issuance-month: Sep
        issuance-year: 2020
        issuance-expiration: 
        credential-code: UC-8ac52729-ceec-4813-b9ee-8cb6c464f852
        certificate: ./assets/pdf/Certificates/Udemy/ModernCppMemoryManagement.pdf
    - cert_2021_12:
        institution-photo: ./assets/img/icon/cert/hst.jfif
        institution-name: HST
        institution-url: https://www.hst.com.br
        course-name: 1o Hackaton HST 2021
        course-url: 
        issuance-month: Dez
        issuance-year: 2021
        issuance-expiration: Winner Team
        credential-code: 
        certificate:           
    - cert_2017_07: 
        institution-photo: ./assets/img/icon/cert/UNICAMP_logo.svg
        institution-name: BootCamp Apache CloudStak
        institution-url: https://www.unicamp.br
        course-name: Bootcamp Cloud
        course-url: 
        issuance-month: Jul
        issuance-year: 2017
        issuance-expiration: 
        credential-code:
        certificate: ./assets/pdf/Certificates/Unicamp/bootcamp-cloudstack.pdf 
    - cert_2011_10:
        institution-photo: ./assets/img/icon/cert/ieee.webp
        institution-name: Student Brench IEEE Unicamp
        institution-url:
        course-name: MATLAB
        course-url: 
        issuance-month: Oct
        issuance-year: 2011
        issuance-expiration: 
        credential-code:
        certificate: ./assets/pdf/Certificates/Unicamp/ieee-matlab.pdf
        

---
{% include calculate_relative_base.html %}
{% include escape-404.html %}
{% include credential-card-style.html %}


<!--
    Curriculo Andrew Ng pra me basear
    https://ai.stanford.edu/~ang/curriculum-vitae.pdf
-->

<div class="small-wrapper">
  <div class="about-container">

    <h2> Curriculum vitæ </h2>

        <br><hr>

        <h3> Contact </h3>

        <table>
            <tbody>
                <tr>
                    <td> Email </td>
                    <td> anderson.paschoalon _at_ gmail.com </td>
                </tr>
                <tr>
                    <td> Github </td>
                    <td> <a target="_blank" href="https://github.com/AndersonPaschoalon"> https://github.com/AndersonPaschoalon </a>  </td>
                </tr>
                <tr>
                    <td> Linkedin </td>
                    <td> <a target="_blank" href="https://br.linkedin.com/in/anderson-paschoalon-61054175"> https://br.linkedin.com/in/anderson-paschoalon-61054175 </a> </td>
                </tr>
            </tbody>
        </table>

        <br><hr>

        <h3> Academic Formation </h3>

        <table>
            <tbody>
                <tr>
                    <td>Aug 2014</td>
                    <td>
                        <b> State University of Campinas (UNICAMP), Campinas (SP) </b>
                        <br>
                        B.Sc. in Electrical Engineering 
                    </td>
                </tr>
                <tr>
                    <td>Aug 2014</td>
                    <td>
                        <b> State University of Campinas (UNICAMP), Campinas (SP) </b>
                        <br>
                        Certification in Computer Engineering (Workload 390hs)                   
                    </td>
                </tr>
                <tr>
                    <td>Mar 2019</td>
                    <td>
                        <b> State University of Campinas (UNICAMP), Campinas (SP) </b>
                        <br>
                        M.Sc. in Computer Engineering  with an emphasis in Computer Networks.
                    </td>
                </tr>
            </tbody>
        </table>

        <br><hr>

        <h3> Languages </h3>

        <ul>
            <li>English (advanced)</li>
            <li>Spanish (basic)</li>
            <li>Portuguese (native)</li>
        </ul>                
        
        <br><hr>

        <h3> Professional Experience </h3>
        <br> 

        <b> 
            2019-today  <a href="https://www.hst.com.br" target="_blank">HST Card Technology</a> – <i>Plain Software Developer</i>
        </b>
        <p>
            Some of my main roles are:
            <ul>
                <li>The development of applications for card printing and chip personalization 
            using hardware's SDKs and specifications, such as EMV, PC/SC, Smartware, RS-232, and proprietary
            technologies;</li>
                <li>Development of Client-side applications using technologies such as REST, SOAP, Dotnet 
            framework, and libcurl;</li>
                <li>Development of Desktop applications and GUI using Windows Forms and WPF.</li>
            </ul>
            I was the architect designer of the application ISCTool, used for chip personalization.
        </p>
        <br>
        
        
        <b> 
            2018 <a href="https://www.griclub.org" target="_blank">GRI Club</a> – <i>Business Analyst Developer</i>
        </b>
        <p>
            My main roles were: 
            <ul>
                <li>Automation of company sales processes using the language Apex in the CRM Salesforce;</li>  
                <li>Legacy code update;</li> 
                <li>Creation of web formularies and landing pages using Javascript, Jquery, and Bootstrap.</li>
            </ul>
            My main project was the GDPR conformation of the leads database. 
        </p>

        <br> 
        <b> 
            2015-2017 <a href="https://www.fee.unicamp.br/dca" target="_blank">DCA (FEEC - Unicamp)</a> – <i>M.Sc. Researcher</i>
        </b>
        <p>
            <ul>
                <li>Development of Linux network applications in the network and transport layers (involving capture, and 
                    generation of traffic in traffic);</li>
                <li>Modeling using linear algebra, statistics, and machine learning;</li>
                <li>Network simulation using Ns-3 and emulation using Mininet and OpenDayLight.</li>
            </ul>
            
            My main achievements were:
            <ul>
                <li>Publication of the article "Automated Selection of Inter-Packet Time Models Through Information 
                    Criteria" in the magazine "IEEE Networking Letters";</li>
                <li>Development of the OpenSource tool for modeling and generating traffic Simitar.</li>
            </ul>
        </p>

        <br> 
        <b> 
            2013-2014 <a href="https://www.cpqd.com.br" target="_blank">CPqD</a> – <i>Intern in Telecommunications on Embedded Software</i>
        </b>
        <p>
            Development of the product's command line interface, eNodeB LTE database management, Linux kernel 
            compilation for PowerPC, device divers development, bootloader configuration, shell scripts for network, 
            and user management, development of EtherMonitor, a C application for network interfaces management and 
            backup. Creation of software user documentation.
        </p>

        <br> 
        <b> 
            2008-2012  <a href="https://www.unicamp.br/unicamp/" target="_blank">UNICAMP</a> – <i>Work Scholarship at Unicamp</i>.
        </b>
        <br>

        <br> 
        <b> 
            2006-2007 <i>High school Intern at the first judicial branch of Bariri – SP (Forum)</i>.
        </b>
        <br>

        <br><hr>

        <h3> Certifications </h3>


        {% assign sorted_cert = page.certifications | sort_natural | reverse %} 

        <!--
        % for cer_obj in page.certifications %
        -->
        {% for cer_obj in sorted_cert %}
            {% for item in cer_obj %} 

                {% assign  credential-card-institution-photo = item[1]["institution-photo"] %}
                {% assign  credential-card-institution-name = item[1]["institution-name"] %}
                {% assign  credential-card-institution-url = item[1]["institution-url"] %}
                {% assign  credential-card-course-name = item[1]["course-name"] %}
                {% assign  credential-card-course-url = item[1]["course-url"] %}
                {% assign  credential-card-issuance-month = item[1]["issuance-month"] %}
                {% assign  credential-card-issuance-year = item[1]["issuance-year"] %}
                {% assign  credential-card-credential-code = item[1]["credential-code"] %}
                {% assign  credential-card-issuance-expiration = item[1]["issuance-expiration"] %}
                {% assign  credential-card-certificate = item[1]["certificate"] %}            

                {% include credential-card-macro.html  
                    test-var2 = test-var
                    credential-card-institution-photo  = credential-card-institution-photo 
                    credential-card-institution-name = credential-card-institution-name
                    credential-card-institution-url = credential-card-institution-url
                    credential-card-course-name = credential-card-course-name
                    credential-card-course-url = credential-card-course-url
                    credential-card-issuance-month = credential-card-issuance-month
                    credential-card-issuance-year = credential-card-issuance-year
                    credential-card-credential-code = credential-card-credential-code
                    credential-card-issuance-expiration = credential-card-issuance-expiration 
                    credential-card-certificate = credential-card-certificate
                %}

            {%  endfor %}
        {%  endfor %}

        <br>
        <br>
        <br>
        <br>

<!--

% assign  test-var = 'this is my tittle AAAAAAAAAAAAAAAA' %
% assign  credential-card-institution-photo = 'https://www.w3schools.com/howto/img_avatar.png' %
% assign  credential-card-institution-name = 'Alura' %
% assign  credential-card-institution-url = 'https://www.google.com' %
% assign  credential-card-course-name = 'Habitos - da produtividade às metas pessoais' %
% assign  credential-card-course-url = 'https://www.youtube.com/watch?v=R9kKMv1pOis' %
% assign  credential-card-issuance-month = 'Jun' %
% assign  credential-card-issuance-year = '2021' %
% assign  credential-card-credential-code = '0884f7a8-dc05-442a-b2ef-a97bf98827e3' %
% assign  credential-card-issuance-expiration = 'No expiration date' %
% assign  credential-card-certificate = 'https://www.youtube.com' %

% include credential-card-macro.html  
    test-var2 = test-var
    credential-card-institution-photo  = credential-card-institution-photo 
    credential-card-institution-name = credential-card-institution-name
    credential-card-institution-url = credential-card-institution-url
	credential-card-course-name = credential-card-course-name
	credential-card-course-url = credential-card-course-url
	credential-card-issuance-month = credential-card-issuance-month
	credential-card-issuance-year = credential-card-issuance-year
	credential-card-credential-code = credential-card-credential-code
	credential-card-issuance-expiration = credential-card-issuance-expiration 
	credential-card-certificate = credential-card-certificate
%

% assign credential-card-institution-photo = 'https://www.w3schools.com/html/pic_trulli.jpg' %
% assign  credential-card-institution-name = 'Udemy' %

% include credential-card-macro.html  
    credential-card-institution-photo=credential-card-institution-photo 
    credential-card-institution-name=credential-card-institution-name
    credential-card-institution-url=page.credential-card-institution-url
    credential-card-course-name=page.credential-card-course-name
%
-->

  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->
