---
layout: menu-page
title: Formation & Experience
permalink: curriculum:output_ext
certifications:
    - cert01:
        institution-photo: assets/img/icons/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        course-name: Hábitos - da produtividade às metas pessoais
        course-url: https://cursos.alura.com.br/course/habitos
        issuance-month: May
        issuance-year: 2021
        issuance-expiration: No expiration
        credential-code: d313c535-d124-402b-bb07-8fa87a69dba6
        certificate: https://cursos.alura.com.br/certificate/0884f7a8-dc05-442a-b2ef-a97bf98827e3 
    - cert02:
        institution-photo: assets/img/icons/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        course-name: SOLID com C# - Princípios da programação orientada a objetos
        course-url: https://cursos.alura.com.br/course/solid-csharp-principios-orientacao-a-objetos
        issuance-month: Apr
        issuance-year: 2021
        issuance-expiration: No expiration
        credential-code: f0c7029d-de3b-4fa3-b190-2a05e97e4e75
        certificate: https://cursos.alura.com.br/certificate/0884f7a8-dc05-442a-b2ef-a97bf98827e3 
    - cert03:
        institution-photo: assets/img/icons/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        course-name: 
        course-url: 
        issuance-month: 
        issuance-year: 
        issuance-expiration: No expiration
        credential-code: 
        certificate: 
    - cert04:
        institution-photo: assets/img/icons/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        course-name: 
        course-url: 
        issuance-month: 
        issuance-year: 
        issuance-expiration: No expiration
        credential-code: 
        certificate: 
        - cert05:
        institution-photo: assets/img/icons/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        course-name: 
        course-url: 
        issuance-month: 
        issuance-year: 
        issuance-expiration: No expiration
        credential-code: 
        certificate: 
    - cert06:
        institution-photo: assets/img/icons/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        course-name: 
        course-url: 
        issuance-month: 
        issuance-year: 
        issuance-expiration: No expiration
        credential-code: 
        certificate: 		
    - cert07:
        institution-photo: assets/img/icons/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        course-name: 
        course-url: 
        issuance-month: 
        issuance-year: 
        issuance-expiration: No expiration
        credential-code: 
        certificate: 		
    - cert08:
        institution-photo: assets/img/icons/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        course-name: 
        course-url: 
        issuance-month: 
        issuance-year: 
        issuance-expiration: No expiration
        credential-code: 
        certificate: 		
    - cert09:
        institution-photo: assets/img/icons/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        course-name: 
        course-url: 
        issuance-month: 
        issuance-year: 
        issuance-expiration: No expiration
        credential-code: 
        certificate: 		
    - cert10:
        institution-photo: assets/img/icons/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        course-name: 
        course-url: 
        issuance-month: 
        issuance-year: 
        issuance-expiration: No expiration
        credential-code: 
        certificate: 		
    - cert11:
        institution-photo: assets/img/icons/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        course-name: 
        course-url: 
        issuance-month: 
        issuance-year: 
        issuance-expiration: No expiration
        credential-code: 
        certificate: 		
    - cert12:
        institution-photo: assets/img/icons/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        course-name: 
        course-url: 
        issuance-month: 
        issuance-year: 
        issuance-expiration: No expiration
        credential-code: 
        certificate: 			
    - cert13:
        institution-photo: assets/img/icons/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        course-name: 
        course-url: 
        issuance-month: 
        issuance-year: 
        issuance-expiration: No expiration
        credential-code: 
        certificate: 		
    - cert14:
        institution-photo: assets/img/icons/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        course-name: 
        course-url: 
        issuance-month: 
        issuance-year: 
        issuance-expiration: No expiration
        credential-code: 
        certificate: 		
    - cert15:
        institution-photo: assets/img/icons/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        course-name: 
        course-url: 
        issuance-month: 
        issuance-year: 
        issuance-expiration: No expiration
        credential-code: 
        certificate: 		
    - cert16:
        institution-photo: assets/img/icons/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        course-name: 
        course-url: 
        issuance-month: 
        issuance-year: 
        issuance-expiration: No expiration
        credential-code: 
        certificate: 		
    - cert17:
        institution-photo: assets/img/icons/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        course-name: 
        course-url: 
        issuance-month: 
        issuance-year: 
        issuance-expiration: No expiration
        credential-code: 
        certificate: 		
    - cert18:
        institution-photo: assets/img/icons/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        course-name: 
        course-url: 
        issuance-month: 
        issuance-year: 
        issuance-expiration: No expiration
        credential-code: 
        certificate: 		
    - cert19:
        institution-photo: assets/img/icons/cert/alura.jfif
        institution-name: Alura
        institution-url: https://www.alura.com.br
        course-name: 
        course-url: 
        issuance-month: 
        issuance-year: 
        issuance-expiration: No expiration
        credential-code: 
        certificate: 
    - cert20:
        institution-photo: assets/img/icons/cert/edx.jfif
        institution-name: EdX
        institution-url: https://www.edx.org
        course-name: 
        course-url: 
        issuance-month: 
        issuance-year: 
        issuance-expiration: No expiration
        credential-code: 
        certificate: 	
    - cert21:
        institution-photo: assets/img/icons/cert/edx.jfif
        institution-name: EdX
        institution-url: https://www.edx.org
        course-name: 
        course-url: 
        issuance-month: 
        issuance-year: 
        issuance-expiration: No expiration
        credential-code: 
        certificate: 	
    - cert22:
        institution-photo: assets/img/icons/cert/edx.jfif
        institution-name: EdX
        institution-url: https://www.edx.org
        course-name: 
        course-url: 
        issuance-month: 
        issuance-year: 
        issuance-expiration: No expiration
        credential-code: 
        certificate: 	
    - cert23:
        institution-photo: assets/img/icons/cert/edx.jfif
        institution-name: EdX
        institution-url: https://www.edx.org
        course-name: 
        course-url: 
        issuance-month: 
        issuance-year: 
        issuance-expiration: No expiration
        credential-code: 
        certificate: 	        
    - cert30:
        institution-photo: assets/img/icons/cert/coursera.jfif
        institution-name: Coursera
        institution-url: https://www.coursera.org
        course-name: 
        course-url: https://www.coursera.org/learn/machine-learning
        issuance-month: 
        issuance-year: 
        issuance-expiration: No expiration
        credential-code: 
        certificate: 	
    - cert31:
        institution-photo: assets/img/icons/cert/fun.jfif
        institution-name: EdX
        institution-url: https://www.fun-mooc.fr/en/
        course-name: 
        course-url: 
        issuance-month: 
        issuance-year: 
        issuance-expiration: No expiration
        credential-code: 
        certificate: 	
    - cert40:
        institution-photo: assets/img/icons/cert/udemy.jfif
        institution-name: Udemy
        institution-url: https://www.udemy.com
        course-name: 
        course-url: 
        issuance-month: 
        issuance-year: 
        issuance-expiration: No expiration
        credential-code: 
        certificate: 	
    - cert41:
        institution-photo: assets/img/icons/cert/udemy.jfif
        institution-name: Udemy
        institution-url: https://www.udemy.com
        course-name: 
        course-url: 
        issuance-month: 
        issuance-year: 
        issuance-expiration: No expiration
        credential-code: 
        certificate: 
    - cert42:
        institution-photo: assets/img/icons/cert/udemy.jfif
        institution-name: Udemy
        institution-url: https://www.udemy.com
        course-name: 
        course-url: 
        issuance-month: 
        issuance-year: 
        issuance-expiration: No expiration
        credential-code: 
        certificate: 
        
---
{% include calculate_relative_base.html %}
{% include escape-404.html %}
{% include credential-card-style.html %}


<!--
    Curriculo Andrew Ng pra me basear
    https://ai.stanford.edu/~ang/curriculum-vitae.pdf
-->

<div class="small-wrapper">
  <div class="about-container">

    <h2> Curriculum vitæ </h2>

        <br><hr>

        <h3> Contact </h3>

        <table>
            <tbody>
                <tr>
                    <td> Email </td>
                    <td> anderson.paschoalon _at_ gmail.com </td>
                </tr>
                <tr>
                    <td> Github </td>
                    <td> <a target="_blank" href="https://github.com/AndersonPaschoalon"> https://github.com/AndersonPaschoalon </a>  </td>
                </tr>
                <tr>
                    <td> Linkedin </td>
                    <td> <a target="_blank" href="https://br.linkedin.com/in/anderson-paschoalon-61054175"> https://br.linkedin.com/in/anderson-paschoalon-61054175 </a> </td>
                </tr>
            </tbody>
        </table>

        <br><hr>

        <h3> Academic Formation </h3>

        <table>
            <tbody>
                <tr>
                    <td>Aug 2014</td>
                    <td>
                        <b> State University of Campinas (UNICAMP), Campinas (SP) </b>
                        <br>
                        B.Sc. in Electrical Engineering 
                    </td>
                </tr>
                <tr>
                    <td>Aug 2014</td>
                    <td>
                        <b> State University of Campinas (UNICAMP), Campinas (SP) </b>
                        <br>
                        Certification in Computer Engineering (Workload 390hs)                   
                    </td>
                </tr>
                <tr>
                    <td>Mar 2019</td>
                    <td>
                        <b> State University of Campinas (UNICAMP), Campinas (SP) </b>
                        <br>
                        M.Sc. in Computer Engineering with with an emphasis in Computer Networks.
                    </td>
                </tr>
            </tbody>
        </table>

        <br><hr>

        <h3> Languages </h3>

        <ul>
            <li>English (advanced)</li>
            <li>Spanish (basic)</li>
            <li>Portuguese (native)</li>
        </ul>                
        
        <br><hr>

        <h3> Professional Experience </h3>
        <br> 

        <b> 
            2019-today  <a href="https://www.hst.com.br" target="_blank">HST Card Technology</a> – <i>Plain Software Developer</i>
        </b>
        <p>
            Some of my main roles are:
            <ul>
                <li>The development of applications for card printing and chip personalization 
            using hardware's SDKs and specifications, such as EMV, PC/SC, Smartware, RS-232, and proprietary
            technologies;</li>
                <li>Development of Client-side applications using technologies such as REST, SOAP, Dotnet 
            framework, and libcurl;</li>
                <li>Development of Desktop applications and GUI using Windows Forms and WPF.</li>
            </ul>
            I was the architect designer of the application ISCTool, used for chip personalization.
        </p>
        <br>
        
        
        <b> 
            2018 <a href="https://www.griclub.org" target="_blank">GRI Club</a> – <i>Business Analyst Developer</i>
        </b>
        <p>
            My main roles were: 
            <ul>
                <li>Automation of company sales processes using the language Apex in the CRM Salesforce;</li>  
                <li>Legacy code update;</li> 
                <li>Creation of web formularies and landing pages using Javascript, Jquery, and Bootstrap.</li>
            </ul>
            My main project was the GDPR conformation of the leads database. 
        </p>

        <br> 
        <b> 
            2015-2017 <a href="https://www.fee.unicamp.br/dca" target="_blank">DCA (FEEC - Unicamp)</a> – <i>M.Sc. Researcher</i>
        </b>
        <p>
            <ul>
                <li>Development of Linux network applications in the network and transport layers (involving capture, and 
                    generation of traffic in traffic);</li>
                <li>Modeling using linear algebra, statistics, and machine learning;</li>
                <li>Network simulation using Ns-3 and emulation using Mininet and OpenDayLight.</li>
            </ul>
            
            My main achievements were:
            <ul>
                <li>Publication of the article "Automated Selection of Inter-Packet Time Models Through Information 
                    Criteria" in the magazine "IEEE Networking Letters";</li>
                <li>Development of the OpenSource tool for modeling and generating traffic Simitar.</li>
            </ul>
        </p>

        <br> 
        <b> 
            2013-2014 <a href="https://www.cpqd.com.br" target="_blank">CPqD</a> – <i>Intern in Telecommunications on Embedded Software</i>
        </b>
        <p>
            Development of the product's command line interface, eNodeB LTE database management, Linux kernel 
            compilation for PowerPC, device divers development, bootloader configuration, shell scripts for network, 
            and user management, development of EtherMonitor, a C application for network interfaces management and 
            backup. Creation of software user documentation.
        </p>

        <br> 
        <b> 
            2008-2012 Unicamp – <i>Work Scholarship at Unicamp</i>.
        </b>
        <br>

        <br> 
        <b> 
            2006-2007 <i>High school Intern at the first judicial branch of Bariri – SP (Forum)</i>.
        </b>
        <br>

        <br><hr>

        <h3> Certifications </h3>

        {% for cer_obj in page.certifications %}
            {% for item in cer_obj %} 

                {% assign  credential-card-institution-photo = item[1]["institution-photo"] %}
                {% assign  credential-card-institution-name = item[1]["institution-name"] %}
                {% assign  credential-card-institution-url = item[1]["institution-url"] %}
                {% assign  credential-card-course-name = item[1]["course-name"] %}
                {% assign  credential-card-course-url = item[1]["course-url"] %}
                {% assign  credential-card-issuance-month = item[1]["issuance-month"] %}
                {% assign  credential-card-issuance-year = item[1]["issuance-year"] %}
                {% assign  credential-card-credential-code = item[1]["issuance-expiration"] %}
                {% assign  credential-card-issuance-expiration = item[1]["credential-code"] %}
                {% assign  credential-card-certificate = item[1]["certificate"] %}            

                {% include credential-card-macro.html  
                    test-var2 = test-var
                    credential-card-institution-photo  = credential-card-institution-photo 
                    credential-card-institution-name = credential-card-institution-name
                    credential-card-institution-url = credential-card-institution-url
                    credential-card-course-name = credential-card-course-name
                    credential-card-course-url = credential-card-course-url
                    credential-card-issuance-month = credential-card-issuance-month
                    credential-card-issuance-year = credential-card-issuance-year
                    credential-card-credential-code = credential-card-credential-code
                    credential-card-issuance-expiration = credential-card-issuance-expiration 
                    credential-card-certificate = credential-card-certificate
                %}

            {%  endfor %}
        {%  endfor %}

        <br>
        <br>
        <br>
        <br>

<!--

% assign  test-var = 'this is my tittle AAAAAAAAAAAAAAAA' %
% assign  credential-card-institution-photo = 'https://www.w3schools.com/howto/img_avatar.png' %
% assign  credential-card-institution-name = 'Alura' %
% assign  credential-card-institution-url = 'https://www.google.com' %
% assign  credential-card-course-name = 'Habitos - da produtividade às metas pessoais' %
% assign  credential-card-course-url = 'https://www.youtube.com/watch?v=R9kKMv1pOis' %
% assign  credential-card-issuance-month = 'Jun' %
% assign  credential-card-issuance-year = '2021' %
% assign  credential-card-credential-code = '0884f7a8-dc05-442a-b2ef-a97bf98827e3' %
% assign  credential-card-issuance-expiration = 'No expiration date' %
% assign  credential-card-certificate = 'https://www.youtube.com' %

% include credential-card-macro.html  
    test-var2 = test-var
    credential-card-institution-photo  = credential-card-institution-photo 
    credential-card-institution-name = credential-card-institution-name
    credential-card-institution-url = credential-card-institution-url
	credential-card-course-name = credential-card-course-name
	credential-card-course-url = credential-card-course-url
	credential-card-issuance-month = credential-card-issuance-month
	credential-card-issuance-year = credential-card-issuance-year
	credential-card-credential-code = credential-card-credential-code
	credential-card-issuance-expiration = credential-card-issuance-expiration 
	credential-card-certificate = credential-card-certificate
%

% assign credential-card-institution-photo = 'https://www.w3schools.com/html/pic_trulli.jpg' %
% assign  credential-card-institution-name = 'Udemy' %

% include credential-card-macro.html  
    credential-card-institution-photo=credential-card-institution-photo 
    credential-card-institution-name=credential-card-institution-name
    credential-card-institution-url=page.credential-card-institution-url
    credential-card-course-name=page.credential-card-course-name
%
-->

  </div> <!-- End About Container -->
</div> <!-- End Small Wrapper -->
