---
layout: home-page
---
{% include calculate_relative_base.html %}

<style>
  
  * {
    box-sizing: border-box;
  }
  .row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  /* Create two equal columns that sits next to each other */
  .column {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0 4px;
  }
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }

/* Parent Container */
.content_img{
  position: relative;
}

/* Child Text Container */
.content_img div{
 position: absolute;
 bottom: 0;
 right: 0;
 background: black;
 color: white;
 margin-bottom: 5px;
 font-family: sans-serif;
 opacity: 0;
 visibility: hidden;
 -webkit-transition: visibility 0s, opacity 0.5s linear; 
 transition: visibility 0s, opacity 0.5s linear;
}

/* Hover on Parent Container */
.content_img:hover{
 cursor: pointer;
}

.content_img:hover div{
 width: 150px;
 padding: 8px 15px;
 visibility: visible;
 opacity: 0.7; 
}  

</style>


<h1 style="text-align: center;" >Welcome to my Personal Website!</h1>

<br></br>
<br></br>
<h2 style="text-align: center;" >Who I'm</h2>

<p class="subtitle">
  Hi there!
</p>
<p class="subtitle">
  I'm Anderson Paschoalon, a software developer specializing in desktop, embedded systems, and Android applications.
</p>
<p class="subtitle">
  My core expertise lies in C, C++, C#, and Python, with experience developing applications for Linux, Windows, and embedded systems, as well as integrating peripheral hardware and equipment.
</p>
<p class="subtitle">
  I've worked extensively on network stack applications, including experience with LTE (4G), SDN, and network traffic generation and modeling.
</p>
<p class="subtitle">
  Additionally, I've been involved in smart card issuance and communication technologies, focusing on personalization and transaction processes.
</p>
<p class="subtitle">
  I also have experience developing Android applications using Kotlin.
</p>
<p class="subtitle">
  My current interests include deep learning and game development, with ongoing personal projects in these areas.
</p>
<p class="subtitle">
  In my free time, I enjoy traveling and connecting with nature.
</p>


<div>
  <div class="row"> 
    <div class="column">
      <div class="content_img">
        <img src="assets/img/photos/me-her.jpg" style="width:100%" >      
        <div>Me, and my wife, Rubia :)</div>
      </div>
      <div class="content_img">
        <img src="assets/img/photos/araucaria.jpg" style="width:100%" >      
        <div>Araucarias from Campos do Jordão</div>
      </div>
    </div>
    <div class="column">
      <div class="content_img">
        <img src="assets/img/photos/montain.jpg" style="width:100%" >
        <div>Pedra Redonda mount at Monte Verde</div>
      </div>
      <div class="content_img">
        <img src="assets/img/photos/blue.jpg" style="width:100%" >
        <div>Serrinha do Alambari at Penedo</div>
      </div>      
    </div>  
</div>

<br></br>
<br></br>
<h2 style="text-align: center;" >Selected Highlights!</h2>

<ol class="post-card-box clearfix">

  {% for post in paginator.posts %}
    {% if post.is_highlight %}
      {% include remove_double_slash.html %}
      <li>
        <div class="post-card">
          <a href="{{ post_url }}" title="{{ post.title }}" class="post-card-image" style="background: url('{{ relativebase }}assets/img/{{ post.img }}') center no-repeat; background-size: cover;">
          </a>
          <div class="post-card-body">
            <p class="post-card-title-and-meta">
              
              <a href="{{ post_url }}" class="post-card-link">
              {{ post.title }}
              </a>
              {% include post_meta.html type="post-card-meta" date="none" %}
            </p>
          </div>
        </div>
      </li>
    {% endif %}
  {% endfor %}
</ol>
