/*****************************************************************************/
/*  Page Elements Container, Button                                                        */
/*****************************************************************************/


.abs-center-x {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    clear: both;
}

.btn{
	margin: auto;
}

/*****************************************************************************/
/*  Formatted text                                                           */
/*****************************************************************************/

div.text-fmt {
  text-align: justify;
} 

.text-fmt a { 
  color: #007bff;
} 

hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
}

/*****************************************************************************/
/*  Material Icons                                                           */
/*****************************************************************************/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
 font-family: 'Material Icons';
 font-weight: normal;
 font-style: normal;
 font-size: 24px;  /* Preferred icon size */
 display: inline-block;
 line-height: 1;
 text-transform: none;
 letter-spacing: normal;
 word-wrap: normal;
 white-space: nowrap;
 direction: ltr;

 /* Support for all WebKit browsers. */
 -webkit-font-smoothing: antialiased;
 /* Support for Safari and Chrome. */
 text-rendering: optimizeLegibility;

 /* Support for Firefox. */
 -moz-osx-font-smoothing: grayscale;

 /* Support for IE. */
 font-feature-settings: 'liga';
}
/*****************************************************************************/
/*  Fix color styles                                                         */
/*****************************************************************************/

div.dropdown-menu {
	background-color: #0076FF;
}

a.nav-link: {
	color: white;
}

a.nav-link:hover {
	background-color: #FF8900
}

button.navbar-toggler:hover {
	background-color: #FF8900
}


/*****************************************************************************/
/* Paralax                                                                   */
/*****************************************************************************/

/*
#parallaxBar {
	height: 750px;
	background-color: #0076FF;
	background: url(./img/forest1.jpg);
	position: relative;
	background-size: cover;
}
*/


/*****************************************************************************/
/*begin: Footer style */
/*****************************************************************************/

#page-container {
	position: relative;
	min-height: 100vh;
}

.content-wrap {
    text-align: center;
	max-width: 70%;
	margin: auto;
	background: white;
	padding: 10px;
	padding-bottom: 2.5rem;
	/* Footer height */
}

.navbar {
    text-align: center;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	/* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	/* Firefox 3.5 - 3.6 */
	box-shadow: 3px 3px 5px 6px #ccc;
	/* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.footer-area {
    text-align: center;
    background: #0076FF;
    color: white;
    text-shadow: 0.5px 0.5px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    -webkit-box-shadow: 0px -4px 5px 0px #ccc;
    -moz-box-shadow: 0px -4px 5px 0px #ccc;
    box-shadow: 0px -4px 5px 0px #ccc;
}

.divTable {
	display: table;
	width: 90%;
}

.divTableRow {
	display: table-row;
}

.divTableHeading {
	display: table-header-group;
}

.divTableCell,
.divTableHead {
	display: inline-flex;
	padding: 3px 10px;
	flex-wrap: wrap;
}

.divTableHeading {
	display: table-header-group;
	font-weight: bold;
}

.divTableFoot {
	display: table-footer-group;
	font-weight: bold;
}

.divTableBody {
	display: table-row-group;
}


/*****************************************************************************/
/* Ripple effect */
/*****************************************************************************/

.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #0076FF radial-gradient(circle, transparent 1%, #0076FF 1%) center/15000%;
}
.ripple:active {
  background-color: #FF8900;
  background-size: 100%;
  transition: background 0s;
}


/*****************************************************************************/
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
/*****************************************************************************/

.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
	height: auto;
	padding: 15px;
  }
  .row.content {height:auto;} 
}


/*****************************************************************************/
/*Cards*/
/*****************************************************************************/
body {
  background-color:  #eee;
	font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif; 
  font-size: 12;
}


.title {
 
    margin-bottom: 50px;
    text-transform: uppercase;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
     
}
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top:20px;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}
.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}
.carousel-indicators .active {
    background-color: white;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}
.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
 lex-direction: column;
}

.btn {
  margin-top: auto;
}

.card-columns {
	counter-reset: cards;
	
	.card {
		position: relative;
		counter-increment: cards;
		
		&:before {
			counter: cards;
			content: counter(cards);
			display: inline-block;
			padding: 5px 10px;
			background-color: #a20000;
			color: #fff;
			position: absolute;
			top: 0;
			right: 0;
		}
	}
}

/*end: Footer style */