<!--
    Creates a certification card, following a similar template with the on from Linkedin

    VARIABLES TO BE SET:
    credential-card-institution-photo
    credential-card-institution-name
    credential-card-institution-url
    credential-card-course-name
    credential-card-course-url
    credential-card-issuance-month
    credential-card-issuance-year
    credential-card-issuance-expiration
    credential-card-credential-code (opitional)
    credential-card-certificate (opitional)
-->

<div class="Table card-text-fmt card">
    <div class="Row"> 
    
        <!-- Certification Company Logo -->
        <div class="Cell card-photo-cell">
            <img src="{{ credential-card-institution-photo }}" class="card-photo">
        </div>
        
        <div class="Cell">
    
        <div style="padding: 0px 0px 0px 10px">
    
        <div class="card-text-title">
            <a class="card-url" href="{{ credential-card-course-url }}" target="_blank"> {{ credential-card-course-name}} </a>
        </div>
    
        <div class="card-text-line1">
            <a class="card-url" href="{{ credential-card-institution-url }}" target="_blank"> {{ credential-card-institution-name }} </a>
        </div>
    
        <div class="card-text-line2">
            Issued {{ credential-card-issuance-month }} {{ credential-card-issuance-year}} · {{ credential-card-issuance-expiration }}
        </div>
        
        {% if credential-card-credential-code %}

            <div class="card-text-line3">
                Credential code: {{ credential-card-credential-code }}
            </div>  
        
        {% endif %}
    
        {% if credential-card-certificate %}

            <div class="card-chip-btn"> 
                <a class="card-chip-url" href="{{ credential-card-certificate }}" target="_blank" >Show Credentials  </a>
            </div>

        {% endif %}
    
        </div>
        </div>

    </div>
</div>
<br>  